*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #01b893, #374b9c);
    animation: gradientAnimation 5s infinite alternate-reverse;
    /* animation-direction: alternate-reverse; */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#todo-container {
    margin: 20px 0;
}

.task {
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    display: inline-block;
}

#clear-all-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 'background-color' 0.3s ease;
}

#clear-all-btn:hover {
    background-color: #c0392b;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}